h1{
    color:#99A799;
    font-size: 40px;
    font-family: sans-serif;
    background-color: #FEF5ED;
    height: 80px;
    width: auto;
}
p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color: #ADC2A9;
}
